# <font color='blue'>Projeto 1 - Segmentação de Clientes de Food Delivery</font>

In [5]:
# Imports

# Manipulação e visualização de dados
import time
import sklearn
import datetime
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib as m
import matplotlib.pyplot as plt

# Machine Learning
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

# Formatação dos gráficos
plt.style.use('fivethirtyeight')
plt.figure(1 , figsize = (15 , 6))
%matplotlib inline

### Carregando e Compreendendo os Dados

In [6]:
df_food_delivery = pd.read_csv("data/dataset.csv", encoding='utf-8')
df_food_delivery.shape

(260645, 7)

In [7]:
df_food_delivery.head()

,id_transacao,horario_pedido,localidade,nome_item,quantidade_item,latitude,longitude
0,0x7901ee,2019-01-16 18:33:00,7,bebida,2,41.794132,-88.010140
1,0x7901ee,2019-01-16 18:33:00,7,pizza,2,41.794132,-88.010140
2,0x7901ee,2019-01-16 18:33:00,7,sobremesa,2,41.794132,-88.010140
3,0x12b47f,2019-09-04 12:36:00,3,salada,1,41.884490,-87.627059
4,0x12b47f,2019-09-04 12:36:00,3,sobremesa,1,41.884490,-87.627059

## Dicionário de Dados

Variável | Descrição
--- | ---
id_transacao | ID da transação. Um mesmo ID pode ter vários itens de um pedido.
horario_pedido | Horário exato do pedido.
localidade | Localidade que processou o pedido (unidade do restaurante).
nome_item | Nome do item (pizza, salada, bebida e sobremesa).
quantidade_item | Quantidade de itens no pedido.
latitude | Latitude da localidade onde o pedido foi gerado.
longitude | Longitude da localidade onde o pedido foi gerado.

### Análise Exploratória

In [9]:
# Verificando valores unicos por coluna
df_food_delivery.nunique()

id_transacao       100000
horario_pedido      76799
localidade              9
nome_item               4
quantidade_item         5
latitude                9
longitude               9
dtype: int64

In [10]:
# Tipos de dados
df_food_delivery.dtypes

id_transacao        object
horario_pedido      object
localidade           int64
nome_item           object
quantidade_item      int64
latitude           float64
longitude          float64
dtype: object

In [11]:
# Resumo das colunas númericas
df_food_delivery.describe()

          localidade  quantidade_item       latitude      longitude
count  260645.000000    260645.000000  260645.000000  260645.000000
mean        5.134904         2.447010      41.836095     -87.733930
std         2.551846         1.330863       0.144459       0.136369
min         1.000000         1.000000      41.524598     -88.010140
25%         3.000000         1.000000      41.784576     -87.849468
50%         5.000000         2.000000      41.881818     -87.677606
75%         7.000000         4.000000      41.889047     -87.627059
max         9.000000         5.000000      42.049306     -87.607565

### Pivot - Manual

In [14]:
# Lista para receber o total de pedidos
total_pedidos = []

In [15]:
print("\nIniciando o agrupamento para o cálculo do total de pedidos.")

# Extraindo cada id e cada grupo do 'group by' por id_transacao
for k, group in df_food_delivery.groupby('id_transacao'):
    
    # Extraindo cada id e cada grupo do group by por horario_pedido
    for m, n in group.groupby('horario_pedido'):

        # Cada item de cada grupo
        id_transacao = k
        horario_pedido = m
        localidade = n['localidade'].values.tolist()[0]
        bebida = 0
        pizza = 0
        sobremesa = 0
        salada = 0
        n = n.reset_index(drop=True)

        # Contabilizando os itens pedidos
        for i in range(len(n)):
            item = n.loc[i, 'nome_item']
            num = n.loc[i,'quantidade_item']

            if item == 'bebida':
                bebida = bebida + num

            elif item == 'pizza':
                pizza = pizza + num
            
            elif item == 'sobremesa':
                sobremesa = sobremesa + num

            elif item == 'salada':
                salada = salada + num

        output = [id_transacao, horario_pedido, localidade, bebida, pizza, sobremesa, salada]
        total_pedidos.append(output)
        
print("\nAgrupamento concluído!")

Iniciando o agrupamento para o cálculo do total de pedidos.

Agrupamento concluído!

In [18]:
# Convertendo a lista para dataframe e ajustando os nomes das colunas
df_item_pedidos = pd.DataFrame(total_pedidos)
df_item_pedidos.columns = ['id_transacao', 'horario_pedido', 'localidade', 'bebida', 'pizza', 'sobremesa', 'salada']
df_item_pedidos.shape

(100000, 7)

In [19]:
# Verificando o total de valores únicos por coluna
df_item_pedidos.nunique()

id_transacao      100000
horario_pedido     76799
localidade             9
bebida                 6
pizza                  6
sobremesa              5
salada                 6
dtype: int64

In [20]:
# Resultado do pivot
df_item_pedidos.head(10)

,id_transacao,horario_pedido,localidade,bebida,pizza,sobremesa,salada
0,0x10000a,2019-01-29 00:48:00,9,0,1,1,0
1,0x100058,2019-05-05 00:08:00,6,0,2,2,0
2,0x1000c8,2019-01-28 19:24:00,9,4,4,5,1
3,0x10014c,2019-02-23 00:15:00,6,0,1,1,0
4,0x1001d8,2019-06-30 17:50:00,2,3,3,3,0
5,0x1002af,2019-12-28 17:25:00,9,3,3,4,1
6,0x10034c,2019-03-12 18:17:00,5,3,4,4,0
7,0x100378,2019-10-13 18:44:00,4,4,4,5,1
8,0x100391,2019-10-10 18:07:00,5,4,4,4,0
9,0x1003a9,2019-06-23 00:39:00,6,0,2,2,0

### Pivot - Automático

In [24]:
df_pivot = df_food_delivery.pivot_table(index=['id_transacao'], columns=['nome_item'], values='quantidade_item')
df_pivot = df_pivot.fillna(0).reset_index()
df_pivot.columns

nome_item id_transacao  bebida  pizza  salada  sobremesa
0             0x10000a     0.0    1.0     0.0        1.0
1             0x100058     0.0    2.0     0.0        2.0
2             0x1000c8     4.0    4.0     1.0        5.0
3             0x10014c     0.0    1.0     0.0        1.0
4             0x1001d8     3.0    3.0     0.0        3.0

In [25]:
# Resultado
df_pivot.head()

nome_item id_transacao  bebida  pizza  salada  sobremesa
0             0x10000a     0.0    1.0     0.0        1.0
1             0x100058     0.0    2.0     0.0        2.0
2             0x1000c8     4.0    4.0     1.0        5.0
3             0x10014c     0.0    1.0     0.0        1.0
4             0x1001d8     3.0    3.0     0.0        3.0

In [26]:
# Valroes unicos
df_pivot.nunique()

nome_item
id_transacao    100000
bebida               6
pizza                6
salada               6
sobremesa            5
dtype: int64

In [28]:
# Shape
df_pivot.shape

(100000, 5)

In [27]:
# Describe
df_pivot.describe()

nome_item         bebida          pizza         salada      sobremesa
count      100000.000000  100000.000000  100000.000000  100000.000000
mean            1.239590       1.857840       0.711370       2.569210
std             1.627886       1.588589       1.086524       1.332084
min             0.000000       0.000000       0.000000       1.000000
25%             0.000000       1.000000       0.000000       1.000000
50%             0.000000       1.000000       0.000000       2.000000
75%             3.000000       3.000000       1.000000       4.000000
max             5.000000       5.000000       5.000000       5.000000

In [29]:
# Incluindo a coluna localidade
df_pivot2 = df_pivot.merge(df_food_delivery[['id_transacao', 'localidade']])
df_pivot2.head()

  id_transacao  bebida  pizza  salada  sobremesa  localidade
0     0x10000a     0.0    1.0     0.0        1.0           9
1     0x10000a     0.0    1.0     0.0        1.0           9
2     0x100058     0.0    2.0     0.0        2.0           6
3     0x100058     0.0    2.0     0.0        2.0           6
4     0x1000c8     4.0    4.0     1.0        5.0           9

In [30]:
# Shape
df_pivot2.nunique()

id_transacao    100000
bebida               6
pizza                6
salada               6
sobremesa            5
localidade           9
dtype: int64

### Extraindo Granularidade de Tempo

A coluna de horário do pedido tem detalhes como mês, dia e ano. Em algum momento pode ser interessante fazer a segmentação por mês, por exemplo.

In [31]:
# Visualizando os dados
df_item_pedidos.head(3)

,id_transacao,horario_pedido,localidade,bebida,pizza,sobremesa,salada
0,0x10000a,2019-01-29 00:48:00,9,0,1,1,0
1,0x100058,2019-05-05 00:08:00,6,0,2,2,0
2,0x1000c8,2019-01-28 19:24:00,9,4,4,5,1

In [34]:
# Extraindo o mês da coluna horario_pedido
df_item_pedidos['mes'] = df_item_pedidos['horario_pedido'].apply(lambda x: time.strftime("%m", time.strptime(x,"%Y-%m-%d %H:%M:%S")))
df_pivot = df_pivot.merge(df_item_pedidos[['id_transacao', 'mes']])
df_pivot.head(10)

  id_transacao  bebida  pizza  salada  sobremesa mes
0     0x10000a     0.0    1.0     0.0        1.0  01
1     0x100058     0.0    2.0     0.0        2.0  05
2     0x1000c8     4.0    4.0     1.0        5.0  01
3     0x10014c     0.0    1.0     0.0        1.0  02
4     0x1001d8     3.0    3.0     0.0        3.0  06
5     0x1002af     3.0    3.0     1.0        4.0  12
6     0x10034c     3.0    4.0     0.0        4.0  03
7     0x100378     4.0    4.0     1.0        5.0  10
8     0x100391     4.0    4.0     0.0        4.0  10
9     0x1003a9     0.0    2.0     0.0        2.0  06

In [35]:
# Valores únicos
df_pivot.nunique()

id_transacao    100000
bebida               6
pizza                6
salada               6
sobremesa            5
mes                 12
dtype: int64

### Ajuste de Índices

In [36]:
# Índice
df_item_pedidos.index

RangeIndex(start=0, stop=100000, step=1)

In [38]:
# Reset no índice e gravando o resultado em outro dataframe
df_item_pedidos_idx = df_item_pedidos.reset_index()
df_item_pedidos_idx.head()

,index,id_transacao,horario_pedido,localidade,bebida,pizza,sobremesa,salada,mes
0,0,0x10000a,2019-01-29 00:48:00,9,0,1,1,0,01
1,1,0x100058,2019-05-05 00:08:00,6,0,2,2,0,05
2,2,0x1000c8,2019-01-28 19:24:00,9,4,4,5,1,01
3,3,0x10014c,2019-02-23 00:15:00,6,0,1,1,0,02
4,4,0x1001d8,2019-06-30 17:50:00,2,3,3,3,0,06